html, body {
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif !important;
}

body {
	background-image: linear-gradient(#fff, #eee);
}

p, li, a {
	font-size: 14pt;
}

#bootstrap_override a {
	color: #00259e;
}

#bootstrap_override a:hover {
	text-decoration: underline;
}

#bootstrap_override li {
	line-height: 200%;
}

#bootstrap_override h1 {
	font-size: 64pt;
	line-height: 100%;
	margin-bottom: .8em;
	margin-top: 2em;
}

#bootstrap_override h2 {
	margin-top: 1.5em;
}

#bootstrap_override .btn {
	padding: 1em 2em;
}

#bootstrap_override .btn-primary {
	background-color: #00259e;
	color: #fff;
	font-weight: 400;
}

#bootstrap_override .btn-primary:hover {
	text-decoration: none;
}

#logo-container {
	margin-top: 1em;
	height: 150px;
	width: 150px;
	float-right: 3em;
	margin-bottom: 2em;
}

#logo {
	height: 150px;
	width: 150px;
}