html, body {
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif !important;
}

body {
	background-image: linear-gradient(#fff, #eee);
}

p, li, a {
	font-size: 14pt;
}

#bootstrap_override a {
	color: #00259e;
}

#bootstrap_override a:hover {
	text-decoration: underline;
}

#bootstrap_override li {
	line-height: 200%;
}

#bootstrap_override h1 {
	font-size: 64pt;
	line-height: 100%;
	margin-bottom: .8em;
	margin-top: 2em;
}

#bootstrap_override #mobile_nav {
	display: none;
}

@media only screen and (max-width: 575px) {
	#bootstrap_override h1 {
		margin-top: 1em;
		font-size: 48pt;
	}

	#bootstrap_override #desktop_nav {
		display: none;
	}

	#bootstrap_override #mobile_nav {
		display: flex;
	}

	#bootstrap_override .card-text {
		width: 100%;
	}
}

#bootstrap_override h2 {
	margin-top: 1.5em;
}

#bootstrap_override .btn {
	padding: 1em 2em;
}

#bootstrap_override .btn-primary {
	background-color: #00259e;
	color: #fff;
	font-weight: 400;
}

#bootstrap_override .btn-primary:hover {
	text-decoration: none;
}

#logo-container {
	margin-top: 2em;
	height: 100px;
	width: 100px;
	float-right: 3em;
	margin-bottom: 2em;
}

#logo {
	height: 100px;
	width: 100px;
}