{% extends 'base.html' %}

{% block content %}
<div class='container'>
    <div class='row'>
        <div class='col-sm-3'>
            <div class='float-right' id='logo-container'>
                <div>
                    <img src="https://static.thenounproject.com/png/1014898-200.png" id='logo'>
                    <p class='text-sm text-muted text-center' style='margin-top: -15px;'>98 Voices</p>
                </div>
            </div>
        </div>
        <div class='col-sm-6'>
            <h1>Fixing the Google promo folder</h1>
            <p>It’s a miracle, of course. There are 51,000 unread emails in my promo folder, and 98% of them are unread for a reason. Because I didn’t ask for them and I don’t care what they say.</p>

            <p>But the other 2%? I miss reading those.</p>

            <p>These are the emails from Gretchen, from Tim, from TED. They’re the emails from Sarah Jones, from BoingBoing and from charity:water. These are the blogs and the updates and the announcements that are very definitely NOT promotions. They’re anticipated, personal and relevant messages, delivered with permission.</p>

            <p>Google has business reasons to quarantine notes like this, but it’s not the right thing to do. And we now have a way to fix it.</p>

            <p>A simple button, with just a few clicks, will automatically create a safe place for 98 voices, moving them (past and future) from your promo folder back to your inbox. And it’s easy to undo–if any sender gets annoying, a simple edit of your filters and they’re gone again.</p>

            <p>TED, Oprah, Sarah Jones, Adam Grant, Dan Pink, BoingBoing… all your favorites, unblocked! Fix the promo folder. Authenticate your gmail account and you’re done.</p>

            <p>Everyone on the list will be pointing to the button, and if we coordinate our outreach well, readers who were previously lost forever to the unfairness of Google’s whims will be back where they belong.</p>
            </p>
            <p class='text-right text-muted lead'>- Seth Godin</p>
        </div>
        <div class='col-sm-3'></div>
    </div>
    <div class='row'>
        <div class='col-sm-3'></div>
        <div class='col-sm-6'>
            <h2>Here's how it works</h2>
            <ol>
                <strong>
                    <li>Sign in with google</li>
                    <li>Give us permission to modify your settings</li>
                </strong>
            </ol>
            <p>Sign in with your google account and we'll create a mail filter that will keep this mail out of your promotions folder.</p>
            <div class="text-center">
                <a class='btn btn-primary' href="/profile">Go</a>
            </div>
        </div>
        <div class='col-sm-3'></div>
    </div>
    <br>
</div>
{% endblock %}