{% extends 'base.html' %}

{% block content %}
<div class='container-fluid'>
    <nav class='navbar navbar-light navbar-expand-lg'>
        <div class='navbar-brand'>
            <img src="/static/img/98_logo.png" id='logo'>
        </div>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav" aria-controls="nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

        <div class="collapse navbar-collapse" id="nav" class="navbar-nav mr-auto" style="justify-content: right;">
            <a class='nav-link text-right' href="#how_it_works">How it works</a>
            <a class='nav-link text-right' href="#get_started">Get started</a>
            <a class='nav-link text-right' href="#why_were_doing_this">Why we're doing this</a>
            <a class='text-right' href="/undo_instructions">Undoing the app</a>
        </div>
    </nav>
</div>
<div class='container'>
	<div class='row'>
	<div class='col-sm-3'></div>
	<div class='col-sm-6'>
		<h1>Privacy Policy</h1>

		<h3>FIRST!</h3>
		<p>Please note that using 98Voices will not sign you up for any newsletter or other communication from any of the people we’re unfiltering. All this tool does is help you get what you already signed up for.</p>

		<p>Also worth noting: we can’t possibly endorse any of the content you’ll get from any of these Voices. Sign up for the ones you want, we’re simply helping the news get through.</p>

		<p>If you’d like to see the entire gold list of Voices, <a href="/#goldlist">click here</a>. And to give us feedback, please visit this form.</p>


		<h3>GDPR - General Data Protection Regulation</h3>

		<p>The GDPR is Europe’s new privacy regulation. It gives you control over the data that organizations have about you and how they market to you.</p>

		<p>As the original permission marketers, our team takes this very seriously, and have to make very few changes to comply. This page outlines our approaches, and we welcome your feedback at <a href="mailto:hello@akimbo.com">hello@akimbo.com</a></p>

		<p>We already apply strict policies and practices to protect all of our customers’ personal data, including those promoted by the EU-U.S. Privacy Shield Framework, E.U. Model Clause Principles and the APEC Privacy Principles. Many of those international standards will continue under the GDPR.</p>

		<p>We will not rent or sell or share your email with any third party, and we never have. However, we use third party analytics software from Google. In some cases, we may place a cookie on your side to enable us to better understand who is visiting our sites and how they use them.</p>

		<p>We use cookies to enable you to have a better experience with our workshops and our content. We use those cookies to avoid showing you the same thing twice, for example.</p>

		<p>At any time, you can opt out of hearing from us. There's always an unsubscribe button on every email we send.</p>

		<p>However, since what we’re in the business of teaching, it’s difficult to engage with us without hearing from us. Of course, Seth’s blog and podcast and other content are free, and you’re welcome to interact with it without subscribing. You can, and always have been able to, use third party tools, RSS or even incognito browsers to interact with our free materials.</p>

		<h3>What is GDPR?</h3>

		<p>GDPR stands for General Data Protection Regulation, a new privacy law that regulates the processing of personal data relating to individuals in the European Union.</p>

		<p>GDPR strengthens the rights that individuals have regarding their personal data, and seeks to unify data protection laws across Europe.</p>

		<h3>What does GDPR mean for you?</h3>
		<p>We’re treating everyone as if they lived in the EU. This means that if you’re reading this, you can:</p>
		<ul>
		    <li>Ask for a copy of the personal data we’ve collected about you. Unless you’re a student in Akimbo Workshops or the altMBA, the answer is: your email address. For students in those workshops, we only keep data about your actual interactions and engagement in the workshops.</li>
		    <li>Request that we stop sending you direct marketing messages. This is as easy as it has ever been. Unsubscribe/stop following, and we’ll stop. Our goal is simply to keep our promise, not to profit from your data.</li>
		</ul>

		<p>We’ll continue to educate, inform and work with our readers and students the best we can, and will update this page from time to time.</p>

		<p>Thanks for engaging with us.</p>

		<p>Seth and the team</p>
	</div>
	<div class='col-sm-3'></div>
</div>
{% endblock %}