<html style='height: 100vh'>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Google Analytics - 98 Voices -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-150547603-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-150547603-1');
    </script>

    <title>98 Voices</title>

</head>
<body style='height: 100%'>
<div id='bootstrap_override'>
    <div class='container' style='display: flex; justify-content: center; align-items: center; height: 100vh'>
        <div class='card col-sm-6' style='vertical-align: middle; height: auto;'>  
            <div class='card-body'>
                {% for category, message in get_flashed_messages(with_categories=true) %}
                <div class='alert alert-{{category}} alert-dismissible fade show'>
                    {{message}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %}
                <div class='text-center'>
                    <img src="{{img}}" style='display: inline; width:100; margin-bottom: 2em; border-radius: 50%;'/>
                    <h4>{{name | upper}}</h4>
                    <p class='lead'>{{email | lower}}</p>
                    <!--<a href='/process' class='card-link' id='link'>Go</a>-->
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    let link = document.querySelector('#link')
    var spinner = function() {
        var card = link.parentElement.parentElement;
        const div = document.createElement('div');
        div.setAttribute('class', 'd-flex justify-content-center')
        const spinner = document.createElement('div');
        spinner.setAttribute('class', 'spinner-border text-center');
        spinner.setAttribute('role', 'status');
        spinner.innerHTML = "<span class='sr-only'>Loading...</span>"
        div.appendChild(spinner)
        card.appendChild(div)
        gtag('event','filter_applied') // log click as goal/event google analytics
    }

    link.addEventListener('click', spinner);
</script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
