{% extends 'base.html' %}

{% block content %}
<div id='bootstrap_override'>
    <div class='container'>
        <div class='row'>
            <div class='col-sm-2 col-md-3'></div>
            <div class="col-sm-8 col-md-6">
                <h2>Removing the Filter</h2>
                <p>We hope that you'll find this tool helpful. However, we understand that it may not be the right solution for everyone. If you've built your filter and decided it's not for you, we're happy to remove the filter for you. Just click the button below.</p>
                <p>You can also edit the filter by going to your <a target="_blank" href="https://mail.google.com/mail/u/0/#settings/filters">Gmail settings</a>.</p>
                <div class='callout'> 
                    <p><b>NOTE: this will completely remove the filter that moves emails out of your promotions folder.</b></p>
                </div>
                <div class='text-center'>
                    <a class="btn btn-primary" href="/undo">Remove Filter</a>
                </div>
            </div> 
            <div class='col-sm-2 col-md-3'></div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}

{% endblock %}